<div class="well">
  <h2>Enter a zipcode:</h2>
  <div class="search-wrapper">
    <input
      class="form-control"
      placeholder="Zipcode"
      type="text"
      id="addLocation"
      ngModel
      #locationControl="ngModel"
      [appAutocomplete]="autocomplete"
    />
    <app-autocomplete #autocomplete="autocomplete">
      <app-autocomplete-option *ngFor="let location of locations" [value]="location.zipcode">{{ location.name }}</app-autocomplete-option>
    </app-autocomplete>
  </div>
  <br />
  <app-stative-button (buttonClicked)="addLocation(locationControl.value)">
    <ng-template [appButtonState]="'initial'">
      <div class="button button--initial">Add location</div>
    </ng-template>
    <ng-template [appButtonState]="'working'">
      <div class="button button--working">
        <img src="assets/spinner.svg" alt="loading" />
      </div>
    </ng-template>
    <ng-template [appButtonState]="'complete'">
      <div class="button button--complete">
        <img src="assets/check.png" alt="check" />
        <span> IT'S COMPLETED </span>
      </div>
    </ng-template>
  </app-stative-button>
</div>
