<form class="well" [formGroup]="locationForm">

  <h2>Enter a zipcode:</h2>
  <div class="input__wrapper">
    <input
      class="form-control"
      placeholder="Zipcode"
      type="text"
      formControlName="zipcode"
    />
  </div>
  <h2>Enter city:</h2>
  <div class="dropdown__wrapper">
    <input
      class="form-control"
      placeholder="Enter country name"
      formControlName="countryAutocomplete"
      type="text"
      [appAutocomplete]="autocomplete"
      [displayWith]="displayWithFn"
      [setValueBy]="setValueByFn"
    />
    <app-autocomplete #autocomplete="autocomplete">
      <ng-template appAutocompleteContent>
        <ng-container *ngIf="placesHints$ && (placesHints$ | async) as result">
          <app-autocomplete-option
            *ngFor="let location of result"
            [value]="location">
            <span [innerHTML]="location.name | emphasize : locationForm.get('countryAutocomplete').value?.search"></span>
          </app-autocomplete-option>
          <app-autocomplete-option class="no-result" *ngIf="!result.length">
            No Countries found.
          </app-autocomplete-option>
        </ng-container>
      </ng-template>
    </app-autocomplete>
  </div>
  <br />
  <app-stative-button (buttonClicked)="addLocation()">
    <ng-template [appButtonState]="'initial'">
      <div class="button button--initial">Add location</div>
    </ng-template>
    <ng-template [appButtonState]="'working'">
      <div class="button button--working">
        <img src="assets/spinner.svg" alt="loading" />
      </div>
    </ng-template>
    <ng-template [appButtonState]="'complete'">
      <div class="button button--complete">
        <img src="assets/check.png" alt="check" />
        <span> IT'S COMPLETED </span>
      </div>
    </ng-template>
  </app-stative-button>
</form>
